---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <p>
    Hi, my name is <a href="/about">Iliya</a> and here I blog about whatever interests me, which is currently mostly AI related.
    I like to explain visually and build interactive programs
    that give good intuition.
  </p>

  {% assign pinned = site.posts | where: "pinned", "true" %}
  {% assign unpinned = site.posts | where: "pinned", "false" %}

  <h2 class="post-list-heading">Pinned</h2>
  <ul class="post-list">
    {%- for post in pinned -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h4>
          <div class="post-link-title">{{ post.title | escape }}</div>
          <div class="post-link-subtitle"></span>{{ post.subtitle }}</div>
          <div class="post-link-date">{{ post.date | date: date_format }}</div>
        </h4>
      </a>
    </li>
    {%- endfor -%}
  </ul>

  <h2 class="post-list-heading">Posts</h2>
  <ul class="post-list">
    {%- for post in unpinned -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h4>
          <div class="post-link-title">{{ post.title | escape }}</div>
          <div class="post-link-subtitle"></span>{{ post.subtitle }}</div>
          <div class="post-link-date">{{ post.date | date: date_format }}</div>
        </h4>
      </a>
    </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
